<br>
<br>
<br>
<div class="ui centered raised card ng-scope" id="login">
    <div class="content">
        <div class="ui large header purple-primary">Forgot your password?</div>
        <div class="description">
            
            <form name="loginForm" novalidate="true" ng-submit="forgotPassword()" class="ui ng-class:status; form">
                <div class="field">
                    <div class="ui left icon action input">
                        <i ng-class="{'green check icon' : status == 'success'}"></i>
                        <input type="text" name="email" ng-model="viewModel.email" placeholder="Email used to register" tabindex="1" required="true" autocomplete="off" >
                        <button class="ui button"  ng-class="{'loading' : checkingEmail}" ng-click="checkEmail()" tabindex="2">Search</button>
                    </div>
                </div>
                <div class="ui ng-class:status; message" ng-if="message">
                    <div class="header">{{header}}</div>
                    <p ng-bind-html="message"></p>
                </div>

                <button class="ui fluid submit ifsa-gold button" ng-show="!hideReset" ng-disabled="status != 'success'" ng-class="{ 'loading' : saving }" tabindex="3">Reset Password</button>
                <a class="ui fluid submit ifsa-gold button" href="#/login/" ng-show="hideReset" ng-class="{ 'loading' : saving }" tabindex="3">Return to login</a>
            </form>
            <br>
            <div class="ui two column very relaxed centered grid">
                <div class="center aligned column">
                    <a href="#/login/" style="color:rgba(0,0,0,.9);">Login</a>
                </div>
                <div class="center aligned column">
                    <a href="#/register/" class="right aligned" style="color:rgba(0,0,0,.9);">Need an account?</a>
                </div>
            </div>
        </div>
    </div>
</div>