<div class="registerPage">
    <!-- Page Content -->
    <div class="content-panel-primary">
        <section id="register">
            <div class="row">
                <div class="col-xs-12">
                    <progressbar class="ifsa-progress ifsa-progress-bar" value="percentComplete"></progressbar>
                    <h2 class="content-title">Registration</h2>
                    <hr class="hr-gold"/>
                    <div ng-if="loading">
                        <h3>Loading data....</h3>
                        <i class="spinner big loading icon"></i>
                    </div>
                    <div ng-if="!loading">
                        <p><small><span class="asterisk"><strong>*</strong></span> = required field</small></p>
                        <form ng-submit="submit()" name="appForm" id="theForm" ng-include="registerPage">
                            <!-- Dynamic content here -->
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div><!-- END OF PRIMARY CONTENT -->
</div>