<div class="col-xs-12 text-center">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h5><b>The following demographic questions are used for institutional research only. This information will be stored separately from your personally identifiable data.</b></h5>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 form-group required1">
            <label class="control-label">Please indicate your ethnicity:</label>
            <select id="studentRace" ng-model="viewModel.Ethnicity" class="form-control form-input" ng-options="item for item in viewModel.EthnicityOptions" required/>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <multi-select options="viewModel.RaceOptions" selected="selectedRaceOptions" is-required="true" label-text="Please indicate your race(s), selecting all that apply:" />
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <multi-select options="viewModel.GenderIdentityOptions" selected="selectedGenderIdentity" is-required="true" label-text="Please indicate your gender identity, selecting all that apply:"></multi-select>
            <input id="genderIdentityOther" type="text" class="form-control form-input" ng-model="viewModel.GenderIdentityOther" 
                placeholder="..." 
                ng-required="viewModel.GenderIdentityOptions[viewModel.GenderIdentityOptions.length - 1].value" 
                ng-if="viewModel.GenderIdentityOptions[viewModel.GenderIdentityOptions.length - 1].value">
            </input>
        </div>
        <div class="col-md-10 col-md-offset-1 form-group required1">
            <label class="control-label">Do you identify as gay, lesbian, bisexual, transgender or questioning?</label>
            <select ng-model="viewModel.LGBTQplus" class="form-control form-input" ng-required="true">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                    <option value="Prefer not to respond">Prefer not to respond</option>
                </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <hr/>
        <input type="button" class="btn ifsa-btn" value="Back" ng-show="surveyQuestions" ng-click="toggleSurvey(true,2)" ng-disabled="submitted || toggling"/>
        <button type="submit" class="btn ifsa-btn" ng-disabled="submitted || appForm.$invalid || selectedGenderIdentity.length < 1 || selectedRaceOptions.length < 1 || toggling">
            Finish <i class="spinner loading icon" ng-if="submitted"></i>
        </button>
    </div>
</div>