<div class="row">
    <div class="col-md-6"> <!-- Half column -->
        <div class="row">
            <div class="col-md-10 col-md-offset-1 form-group required1">
                <p>As you prepare for your study abroad experience, please respond to the following statements using the 6-point scale (described below) by rating the degree to which the statement represents your behaviors currently.   </p>
                <ol>
                    <li>Not at all – I am not aware of or do not recognize this behavior.</li>
                    <li>Low degree – I am only aware of and recognize this behavior.</li>
                    <li>Somewhat low degree - I cooperate or comply with this behavior only if required by others</li>
                    <li>Somewhat high degree – I recognize the value of and prefer this behavior.</li>
                    <li>High degree – this behavior is an important priority to me.</li>
                    <li>Very high degree – this behavior is natural to me, is habitual to me, and embodies who I am.</li>
                </ol>
                <p>As a result of my study abroad experience, I am able to…</p>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-10 col-md-offset-1 form-group">
                <p>1.  Welcome and initiate interactions with people who are culturally different from me.</p>
                <!--<input id="studentPreferredName" type="text" ng-model="viewModel.PreferredName" class="form-control form-input" />-->
                <input type="radio" id="q1-a" name="q1" value="a" required>
                <label for="q1-a">a. Not at all</label>
                <input type="radio" id="q1-b" name="q1" value="b" required>
                <label for="q1-b">b. Low degree</label>
                <input type="radio" id="q1-c" name="q1" value="c" required>
                <label for="q1-c">c. Somewhat low degree</label>
                <input type="radio" id="q1-d" name="q1" value="d" required>
                <label for="q1-d">d. Somewhat high degree</label>
                <input type="radio" id="q1-e" name="q1" value="e" required>
                <label for="q1-e">e. High degree</label>     
                <input type="radio" id="q1-f" name="q1" value="f" required>
                <label for="q1-f">f. Very high degree</label>           
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-10 col-md-offset-1 form-group">
                <p>2.  Reserve judgment during interactions with people culturally different from me.</p>
                <!--<input id="studentPreferredName" type="text" ng-model="viewModel.PreferredName" class="form-control form-input" />-->
                <input type="radio" id="q2-a" name="q2" value="a" required>
                <label for="q2-a">a. Not at all</label>
                <input type="radio" id="q2-b" name="q2" value="b" required>
                <label for="q2-b">b. Low degree</label>
                <input type="radio" id="q2-c" name="q2" value="c" required>
                <label for="q2-c">c. Somewhat low degree</label>
                <input type="radio" id="q2-d" name="q2" value="d" required>
                <label for="q2-d">d. Somewhat high degree</label>
                <input type="radio" id="q2-e" name="q2" value="e" required>
                <label for="q2-e">e. High degree</label>     
                <input type="radio" id="q2-f" name="q2" value="f" required>
                <label for="q2-f">f. Very high degree</label>           
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-10 col-md-offset-1 form-group">
                <p>3.  Ask questions about other cultures different than my own.</p>
                <!--<input id="studentPreferredName" type="text" ng-model="viewModel.PreferredName" class="form-control form-input" />-->
                <input type="radio" id="q3-a" name="q3" value="a" required>
                <label for="q3-a">a. Not at all</label>
                <input type="radio" id="q3-b" name="q3" value="b" required>
                <label for="q3-b">b. Low degree</label>
                <input type="radio" id="q3-c" name="q3" value="c" required>
                <label for="q3-c">c. Somewhat low degree</label>
                <input type="radio" id="q3-d" name="q3" value="d" required>
                <label for="q3-d">d. Somewhat high degree</label>
                <input type="radio" id="q3-e" name="q3" value="e" required>
                <label for="q3-e">e. High degree</label>     
                <input type="radio" id="q3-f" name="q3" value="f" required>
                <label for="q3-f">f. Very high degree</label>           
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-10 col-md-offset-1 form-group">
                <p>4.  Seek answers to questions about cultural difference. </p>
                <!--<input id="studentPreferredName" type="text" ng-model="viewModel.PreferredName" class="form-control form-input" />-->
                <input type="radio" id="q4-a" name="q4" value="a" required>
                <label for="q4-a">a. Not at all</label>
                <input type="radio" id="q4-b" name="q4" value="b" required>
                <label for="q4-b">b. Low degree</label>
                <input type="radio" id="q4-c" name="q4" value="c" required>
                <label for="q4-c">c. Somewhat low degree</label>
                <input type="radio" id="q4-d" name="q4" value="d" required>
                <label for="q4-d">d. Somewhat high degree</label>
                <input type="radio" id="q4-e" name="q4" value="e" required>
                <label for="q4-e">e. High degree</label>     
                <input type="radio" id="q4-f" name="q4" value="f" required>
                <label for="q4-f">f. Very high degree</label>           
            </div>
        </div>   
        <div class="row top-buffer">
            <div class="col-md-10 col-md-offset-1 form-group">
                <p>5.  I understand differences in forms of verbal communication in different cultures.</p>
                <!--<input id="studentPreferredName" type="text" ng-model="viewModel.PreferredName" class="form-control form-input" />-->
                <input type="radio" id="q5-a" name="q5" value="a" required>
                <label for="q5-a">a. Not at all</label>
                <input type="radio" id="q5-b" name="q5" value="b" required>
                <label for="q5-b">b. Low degree</label>
                <input type="radio" id="q5-c" name="q5" value="c" required>
                <label for="q5-c">c. Somewhat low degree</label>
                <input type="radio" id="q5-d" name="q5" value="d" required>
                <label for="q5-d">d. Somewhat high degree</label>
                <input type="radio" id="q5-e" name="q5" value="e" required>
                <label for="q5-e">e. High degree</label>     
                <input type="radio" id="q5-f" name="q5" value="f" required>
                <label for="q5-f">f. Very high degree</label>           
            </div>
        </div>  
        <div class="row top-buffer">
            <div class="col-md-10 col-md-offset-1 form-group">
                <p>6.  Understand differences in forms on non-verbal communication in different cultures.</p>
                <!--<input id="studentPreferredName" type="text" ng-model="viewModel.PreferredName" class="form-control form-input" />-->
                <input type="radio" id="q6-a" name="q6" value="a" required>
                <label for="q6-a">a. Not at all</label>
                <input type="radio" id="q6-b" name="q6" value="b" required>
                <label for="q6-b">b. Low degree</label>
                <input type="radio" id="q6-c" name="q6" value="c" required>
                <label for="q6-c">c. Somewhat low degree</label>
                <input type="radio" id="q6-d" name="q6" value="d" required>
                <label for="q6-d">d. Somewhat high degree</label>
                <input type="radio" id="q6-e" name="q6" value="e" required>
                <label for="q6-e">e. High degree</label>     
                <input type="radio" id="q6-f" name="q6" value="f" required>
                <label for="q6-f">f. Very high degree</label>           
            </div>
        </div>   
        <div class="row top-buffer">
            <div class="col-md-10 col-md-offset-1 form-group">
                <p>7.  Use a worldview different from my own to interpret the views and actions of persons from different cultures.</p>
                <!--<input id="studentPreferredName" type="text" ng-model="viewModel.PreferredName" class="form-control form-input" />-->
                <input type="radio" id="q7-a" name="q7" value="a" required>
                <label for="q7-a">a. Not at all</label>
                <input type="radio" id="q7-b" name="q7" value="b" required>
                <label for="q7-b">b. Low degree</label>
                <input type="radio" id="q7-c" name="q7" value="c" required>
                <label for="q7-c">c. Somewhat low degree</label>
                <input type="radio" id="q7-d" name="q7" value="d" required>
                <label for="q7-d">d. Somewhat high degree</label>
                <input type="radio" id="q7-e" name="q7" value="e" required>
                <label for="q7-e">e. High degree</label>     
                <input type="radio" id="q7-f" name="q7" value="f" required>
                <label for="q7-f">f. Very high degree</label>           
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-10 col-md-offset-1 form-group">
                <p>8.  Act in a supportive way that recognizes the feelings of other cultural groups.</p>
                <!--<input id="studentPreferredName" type="text" ng-model="viewModel.PreferredName" class="form-control form-input" />-->
                <input type="radio" id="q8-a" name="q8" value="a" required>
                <label for="q8-a">a. Not at all</label>
                <input type="radio" id="q8-b" name="q8" value="b" required>
                <label for="q8-b">b. Low degree</label>
                <input type="radio" id="q8-c" name="q8" value="c" required>
                <label for="q8-c">c. Somewhat low degree</label>
                <input type="radio" id="q8-d" name="q8" value="d" required>
                <label for="q8-d">d. Somewhat high degree</label>
                <input type="radio" id="q8-e" name="q8" value="e" required>
                <label for="q8-e">e. High degree</label>     
                <input type="radio" id="q8-f" name="q8" value="f" required>
                <label for="q8-f">f. Very high degree</label>           
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-10 col-md-offset-1 form-group">
                <p>9.  Understand the importance of politics, history, beliefs, values, economics and communication styles to members of other cultural groups.</p>
                <!--<input id="studentPreferredName" type="text" ng-model="viewModel.PreferredName" class="form-control form-input" />-->
                <input type="radio" id="q9-a" name="q9" value="a" required>
                <label for="q9-a">a. Not at all</label>
                <input type="radio" id="q9-b" name="q9" value="b" required>
                <label for="q9-b">b. Low degree</label>
                <input type="radio" id="q9-c" name="q9" value="c" required>
                <label for="q9-c">c. Somewhat low degree</label>
                <input type="radio" id="q9-d" name="q9" value="d" required>
                <label for="q9-d">d. Somewhat high degree</label>
                <input type="radio" id="q9-e" name="q9" value="e" required>
                <label for="q9-e">e. High degree</label>     
                <input type="radio" id="q9-f" name="q9" value="f" required>
                <label for="q9-f">f. Very high degree</label>           
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-10 col-md-offset-1 form-group">
                <p>10.  Differentiate the complex beliefs, values, communications styles, customs, politics, history and economics of other cultural groups.</p>
                <!--<input id="studentPreferredName" type="text" ng-model="viewModel.PreferredName" class="form-control form-input" />-->
                <input type="radio" id="q10-a" name="q10" value="a" required>
                <label for="q10-a">a. Not at all</label>
                <input type="radio" id="q10-b" name="q10" value="b" required>
                <label for="q10-b">b. Low degree</label>
                <input type="radio" id="q10-c" name="q10" value="c" required>
                <label for="q10-c">c. Somewhat low degree</label>
                <input type="radio" id="q10-d" name="q10" value="d" required>
                <label for="q10-d">d. Somewhat high degree</label>
                <input type="radio" id="q10-e" name="q10" value="e" required>
                <label for="q10-e">e. High degree</label>     
                <input type="radio" id="q10-f" name="q10" value="f" required>
                <label for="q10-f">f. Very high degree</label>           
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-10 col-md-offset-1 form-group">
                <p>11.  Be aware of my own personal cultural rules and biases.</p>
                <!--<input id="studentPreferredName" type="text" ng-model="viewModel.PreferredName" class="form-control form-input" />-->
                <input type="radio" id="q11-a" name="q11" value="a" required>
                <label for="q11-a">a. Not at all</label>
                <input type="radio" id="q11-b" name="q11" value="b" required>
                <label for="q11-b">b. Low degree</label>
                <input type="radio" id="q11-c" name="q11" value="c" required>
                <label for="q11-c">c. Somewhat low degree</label>
                <input type="radio" id="q11-d" name="q11" value="d" required>
                <label for="q11-d">d. Somewhat high degree</label>
                <input type="radio" id="q11-e" name="q11" value="e" required>
                <label for="q11-e">e. High degree</label>     
                <input type="radio" id="q11-f" name="q11" value="f" required>
                <label for="q11-f">f. Very high degree</label>           
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-10 col-md-offset-1 form-group">
                <p>12.  Describe my personal cultural rules and biases.</p>
                <!--<input id="studentPreferredName" type="text" ng-model="viewModel.PreferredName" class="form-control form-input" />-->
                <input type="radio" id="q12-a" name="q12" value="a" required>
                <label for="q12-a">a. Not at all</label>
                <input type="radio" id="q12-b" name="q12" value="b" required>
                <label for="q12-b">b. Low degree</label>
                <input type="radio" id="q12-c" name="q12" value="c" required>
                <label for="q12-c">c. Somewhat low degree</label>
                <input type="radio" id="q12-d" name="q12" value="d" required>
                <label for="q12-d">d. Somewhat high degree</label>
                <input type="radio" id="q12-e" name="q12" value="e" required>
                <label for="q12-e">e. High degree</label>     
                <input type="radio" id="q12-f" name="q12" value="f" required>
                <label for="q12-f">f. Very high degree</label>           
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-10 col-md-offset-1 form-group">
                <p>13.  Improve my understanding of the complicated differences between cultures.</p>
                <!--<input id="studentPreferredName" type="text" ng-model="viewModel.PreferredName" class="form-control form-input" />-->
                <input type="radio" id="q13-a" name="q13" value="a" required>
                <label for="q13-a">a. Not at all</label>
                <input type="radio" id="q13-b" name="q13" value="b" required>
                <label for="q13-b">b. Low degree</label>
                <input type="radio" id="q13-c" name="q13" value="c" required>
                <label for="q13-c">c. Somewhat low degree</label>
                <input type="radio" id="q13-d" name="q13" value="d" required>
                <label for="q13-d">d. Somewhat high degree</label>
                <input type="radio" id="q13-e" name="q13" value="e" required>
                <label for="q13-e">e. High degree</label>     
                <input type="radio" id="q13-f" name="q13" value="f" required>
                <label for="q13-f">f. Very high degree</label>           
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-10 col-md-offset-1 form-group">
                <p>14.  Be aware of how my own experiences have shape my personal rules or biases about different cultures.</p>
                <!--<input id="studentPreferredName" type="text" ng-model="viewModel.PreferredName" class="form-control form-input" />-->
                <input type="radio" id="q14-a" name="q14" value="a" required>
                <label for="q14-a">a. Not at all</label>
                <input type="radio" id="q14-b" name="q14" value="b" required>
                <label for="q14-b">b. Low degree</label>
                <input type="radio" id="q14-c" name="q14" value="c" required>
                <label for="q14-c">c. Somewhat low degree</label>
                <input type="radio" id="q14-d" name="q14" value="d" required>
                <label for="q14-d">d. Somewhat high degree</label>
                <input type="radio" id="q14-e" name="q14" value="e" required>
                <label for="q14-e">e. High degree</label>     
                <input type="radio" id="q14-f" name="q14" value="f" required>
                <label for="q14-f">f. Very high degree</label>           
            </div>
        </div>
    </div>    
</div>
<div class="row text-center">
    <div class="col-xs-12" ng-hide="surveyQuestions">
        <hr/>
        <p>Please ensure all information is filled out as completely and accurately as possible.</p>
        <button type="button" class="btn ifsa-btn" value="Back" ng-hide="surveyQuestions" ng-click="toggleSurvey(false, 2, 'post')" ng-disabled="toggling">
            Back
        </button>
        <button type="button" class="btn ifsa-btn" ng-click="toggleSurvey(false, 4, 'post')" ng-hide="surveyQuestions" ng-disabled="toggling">
            Next <i class="spinner loading icon" ng-if="toggling"></i>
        </button>
        <!--
        <div class="row top-buffer">
            <div class="col-xs-12">
                <input type="submit" class="btn btn-conf btn-highlight" value="Save Information" ng-show="!submitted"/>
                
            </div>
        </div>
        -->
    </div>
</div>