<h2 class="content-title">@IFSAStudyAbroad</h2>
<hr class="hr-gold"/>
<div class="alert alert-info text-center" role="alert" ng-show="viewModel.isDropped">
    <p>Sorry for the inconvenience, our records show your application has been withdrawn. If you would like to start 
        a new application go <a href="#" class="alert-link" ng-click="newApplication()">here</a>.</p>
    <p>If you would like to contact your Program Advisor click <a href="#" class="alert-link" ng-click="loadAppAdvisor()">here</a>.</p>
</div>
<div id="juicer" class="row">
    <div class="col-xs-12">
        <ul class="juicer-feed" data-feed-id="ifsa-butler"></ul>
    </div>
</div>