<div type="text/ng-template">
	<div class="modal-header">
		<h3 class="modal-title"><span>Application Complete!</span></h3>
	</div>
	<div class="modal-body">
		<h4>Your application is complete and ready to be submitted for review! As soon as an admission decision is ready, I will be in touch with you.  In the meantime, there are some additional application materials you can complete on the <a href="/studentportal/SP_Commit">commit page.</a> 
</h4>
	</div>
	<div class="modal-footer">
		<button class="btn ifsa-btn" ng-click="ok()">OK</button>
	</div>
</div>